<div class="main-container" >
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <div class="btn-container">
    <% if user_signed_in? %>
      <%# ログイン時 %>
      <%= link_to "在庫確認", posts_path, class: "btn btn-outline-info rounded-pill" %>
      <%= link_to "買い物リスト", memos_path, class: "btn btn-outline-info rounded-pill" %>
    <% else %>
      <%# 非ログイン時 %>
       <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-outline-info rounded-pill' %>
      <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-info rounded-pill' %>
      <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'btn btn-outline-success rounded-pill' %>
    <% end %>
  </div>